:root {
	--board-gap: 0.2in;
	--print-margin: 0.2in;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	text-align: center;
	/* font-family: 'Times New Roman', Times, serif; */
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
	/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	font-family: Helvetica, Arial, sans-serif;
}

label {
	display: block;
	margin-top: 0.5em;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
}

.grid {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.cell-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/* -webkit-line-clamp: 3; */
	overflow: hidden;
}

.boards {
	display: flex;
	flex-wrap: wrap;
	gap: var(--board-gap);
	width: calc(11in - var(--print-margin));
}

.board {
	position: relative;
	width: calc(50% - var(--board-gap));
	font-size: 16px;
	content-visibility: auto;
}

.board > * {
	position: relative; /* So children are on top of the ::before element */
}

.board::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;

	background-image: var(--board-background-image);
	background-size: cover;
	background-position: top;
}

.board .cell {
	border: 3px solid black;
	padding: 4px;
	height: calc(20px * 5); /* 5 lines of text at ~20px of height per line */
}

.board-title {
	font-family: fantasy, sans-serif;
}

.board-footer {
	text-align: right;
}
