:root {
	--board-gap: 0.2in;
	--print-margin: 0.2in;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	text-align: center;
}

label {
	display: block;
	margin-top: 0.5em;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
}

.grid {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.cell-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	/* -webkit-line-clamp: 3; */
	overflow: hidden;
}

.board {
	position: relative;
	width: calc(50% - var(--board-gap));
	font-size: 16px;
	content-visibility: auto;
	/* border: 30px solid; */
	/* border-image-source: url(./assets/christmas-frame-card.jpg);
	border-image-slice: 30; */
}

.board > * {
	position: relative; /* So children are on top of the ::before element */
}

.board::before {
	content: "";
	background-image: url(./assets/christmas-frame-card.jpg);
	background-size: cover;
	background-position: top;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
}

.board .cell {
	border: 3px solid black;
	padding: 4px;
}

.boards {
	display: flex;
	flex-wrap: wrap;
	gap: var(--board-gap);
	width: calc(11in - var(--print-margin));
}

.board-footer {
	text-align: right;
}
